:root {
    /*seletor global*/
    --background-color: #ffffff;
    /*cor de fundo da pagina*/
    --link-background-color: #181818;
    --link-text-color: #ffffff;
    --switch-filter: grayscale(1) opacity(0.25);
}

.dark-theme {
    --background-color: #202020;
    --link-background-color: #fff;
    --link-text-color: #5b49e8;
    --switch-filter: grayscale(0) opacity(1);
    color: #ffffff
}

* {
    /*seletor global, se aplica a todos os elementos*/
    margin: 10;
    /*Margin e Padding alteram/removem espacamentos*/
    padding: 10;
    touch-action: manipulation;
    /*bloqueia zoom da tela via duplo toque touchscreen*/
}

body {
    font-family: "Barlow", sans-serif;
    transition: 0.5s;
    background: var(--background-color);
    -webkit-font-smoothing: antialiased;
}

.main-section {
    max-width: 500px;
    margin: 0 auto;
}

/*Header_top*/
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top__switch {

    position: absolute;
    margin-top: 25px;
    margin-right: 0px;
    margin-left: 1300px;
    border-radius: 100%;
    border: none;
    background: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    filter: var(--switch-filter);
    cursor: pointer;
}


.recipe_title {
    margin-top: 20px;
    font-size: 24px;
}

.recipe_video{
        position: flex;
        height: 10px;
        width: 10px;
}

.button_plus{
    text-align: center;
}

.sub_title{
    margin-top: 5px;
    font-size: 14px;
}

.video-sub{
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
}

.button_plus_1{
    text-align: center;
}

.phone_text {
    position: absolute;

    font-weight: 700px;
    font-size: 14px;
    text-decoration: none;
    transition: 1.5s;
}

.contato_section1 {
    position: absolute;
    margin-right: 0px;
    margin-left: 300px;
    font-weight: 700px;
    font-size: 14px;
    text-decoration: none;
    transition: 1.5s;
}